node_modules
dist
build
.turbo
.next
.cache

# Env
.env
.env.local
.env.*.local

# Prisma generated clients
packages/db/generated
**/.prisma
**/node_modules/.prisma

# OS
.DS_Store
Thumbs.db

# Editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage
*.lcov
